<div class="ui container">
  <h1>Reactive Form</h1>
  <form
    [formGroup]="reactiveForm"
    class="ui form"
    name="reactiveForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="field">
      <label>First Name</label>
      <input type="text" id="firstname" formControlName="firstname" />
      <span
        class="data-error"
        *ngIf="
          !reactiveForm.get('firstname')?.valid &&
          reactiveForm.get('firstname')?.touched
        "
        >Please provide a valid first name</span
      >
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" id="lastname" formControlName="lastname" />
      <span
        class="data-error"
        *ngIf="
          !reactiveForm.get('lastname')?.valid &&
          reactiveForm.get('lastname')?.touched
        "
        >Please provide a valid lastname</span
      >
    </div>
    <div class="field">
      <label>Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Email"
      />
      <span
        class="data-error"
        *ngIf="
          !reactiveForm.get('email')?.valid &&
          reactiveForm.get('email')?.touched
        "
      >
        <span *ngIf="reactiveForm.get('email').errors.required"
          >This field is required</span
        >
        <span *ngIf="reactiveForm.get('email').hasError('email')"
          >Please enter a valid email</span
        >
      </span>
    </div>
    <div class="field">
      <label>Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="minimun 8 chars, with atleast 1 uppercase & 1 special char"
      />

      <span
        class="data-error"
        *ngIf="
          !reactiveForm.get('password')?.valid &&
          reactiveForm.get('password')?.touched
        "
      >
        <span *ngIf="reactiveForm.get('password').hasError('required')"
          >This field is required</span
        >
        <span *ngIf="reactiveForm.get('password').hasError('minlength')"
          >Password must be atleast 8 characters</span
        >
        <span *ngIf="reactiveForm.get('password').hasError('pattern')"
          >Password must contain atleast 1 uppercase and 1 special
          character</span
        >
      </span>
    </div>
    <div class="field">
      <label>Phone Number</label>
      <input type="number" id="phone" name="phone" placeholder="Phone Number" />
    </div>

    <div class="field">
      <label for="country">country</label>
      <select class="form-control" id="country" required name="country">
        <option *ngFor="let country of countryNames | async" [value]="country">
          {{ country }}
        </option>
      </select>
    </div>

    <div class="field">
      <label for="occupation">Occupation</label>
      <select class="form-control" id="occupation" required name="occupation">
        <option *ngFor="let work of occupations" [value]="work">
          {{ work }}
        </option>
      </select>
    </div>

    <div class="grouped fields">
      <label>Successful</label>
      <div class="field" *ngFor="let option of successful">
        <label for="">
          <sui-radio-button
            formControlName="success"
            [value]="option"
          ></sui-radio-button
          >{{ option }}
        </label>
      </div>
    </div>
    <app-button color="green" text="Submit"></app-button>
  </form>
</div>
